<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>POST</h1>
    <p>Click a post below to view their comments</p>
    <a href="/v1/posts/new">new post</a>
    <ul>
       <% posts.forEach(({_id, title}) => { %>
        <li>
            <form action="/v1/posts/<%=_id%>?_method=delete" method="post">
                <a href="/v1/posts/<%=_id%>"><%= title %></a> - <input type="submit" value="delete">
            </form>
        </li>
        <% }) %>
    </ul>

    <a href="/v1/posts/new"></a>
</body>
</html>