<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Post</h1>
    <a href="/v1/posts">back</a>
    <form action="/v1/posts" method="POST">
        <label for="Title">Title:</label>
        <input type="text" name="title">
        <label for="description">Description</label>
        <input type="text" name="description" >
        <input type="submit" value="SEND">
    </form>
</body>
</html>